ICON_SERVICE_PROVIDER_URL=http://host.docker.internal:9000/api/v3
CASINO_SCORE_ADDRESS=COPY_FROM_CONTRACT_DEPLOYMENT
PLAYER_WALLET_PRIVATE_KEY_FILE_PATH=./keystores/keystore_test1.json
PLAYER_WALLET_PASSWORD=test1_Account
BET_AMOUNT=100000000000000000000
DEBUG=True
HOST=0.0.0.0
PORT=5000
